*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  font: 400 16px 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

body .header-info .nav-options .menu.header-nav-options .item {
  padding: 0;
}

body header nav .header-info .nav-options .ui.dropdown .menu {
  left: -23px;
  top: 47px;
  width: 168px;
  height: auto;
  padding: 18px 0px;
}

body header,
body main,
body footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background: url(/images/bg-pattern-intro.svg) 26% 52%/3200px auto no-repeat, -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: url(/images/bg-pattern-intro.svg) 26% 52%/3200px auto no-repeat, linear-gradient(to right, #ff8f70, #ff3d54);
  padding-top: 58px;
  min-height: 600px;
  border-radius: 0 0 0 100px;
  font-family: ' overpass ', sans-serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0 0 10px;
  height: 50px;
}

header nav .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .humburger {
  display: none;
  cursor: pointer;
}

header nav .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86%;
}

header nav .options .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52%;
  min-width: 400px;
  margin-top: 3px;
}

header nav .options .header-info .nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 67.5%;
  margin-right: 7px;
}

header nav .options .header-info .nav-options .ui.dropdown .menu {
  left: -23px;
  top: 47px;
  width: 168px;
  height: auto;
  padding-left: 22px;
  padding-top: 21px;
}

header nav .options .header-info .nav-options .ui.dropdown .menu > .item {
  font-weight: 300;
  font-family: 'ubuntu', sans-sreif;
  letter-spacing: 0.8px;
}

header nav .options .header-info .nav-options .ui.dropdown .menu > .item:hover {
  background-color: transparent;
  font-weight: 600;
}

header nav .options .header-info .nav-options .header-nav.active.visible .nav-item {
  text-decoration: underline;
}

header nav .options .header-info .nav-options .header-nav.active.visible .nav-item .dropdown.icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav .options .header-info .nav-options .header-nav .nav-item {
  font-family: 'ubuntu', sans-sreif;
  font-weight: 600;
  color: #fff;
  min-width: 100px;
  text-align: center;
}

header nav .options .header-info .nav-options .header-nav .nav-item .dropdown.icon {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  text-decoration: none;
  height: auto;
}

header nav .options .header-info .nav-options .menu.header-nav-options .item {
  padding: 10px 0 !important;
}

header nav .options .account-creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
  margin-right: 6px;
}

header nav .options .account-creation button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 133px;
  height: 100%;
  margin: 0;
}

header nav .options .account-creation .login-button {
  width: 100px;
  border-radius: 25px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
}

header nav .options .account-creation .login-button:hover {
  border: 1px solid #fff;
  background-color: transparent;
}

header nav .options .account-creation .signup-button {
  border-radius: 25px;
  background-color: #fff;
  color: #ff3d54;
  width: 135px;
  font-family: 'ubuntu', sans-sreif;
  font-size: 16px;
}

header nav .options .account-creation .signup-button:hover {
  background-color: #ff7a85;
  color: #fff;
}

header .bloger-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 440px;
  color: #fff;
}

header .bloger-intro h1 {
  margin: 126px 0 14px;
  font: 700 61px 'overpass', sans-serif;
  letter-spacing: -0.6px;
}

header .bloger-intro p {
  font: 400 20px 'overpass', sans-serif;
  margin-bottom: 44px;
}

header .bloger-intro .get-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26%;
  height: 50px;
  gap: 17px;
}

header .bloger-intro .get-info button {
  width: 136px;
  margin: 0;
}

header .bloger-intro .get-info .start-for-free {
  border-radius: 25px;
  font-size: 16px;
  padding: 0;
  background-color: #fff;
  color: #ff3d54;
}

header .bloger-intro .get-info .start-for-free:hover {
  background-color: #ff7a85;
  color: #fff;
}

header .bloger-intro .get-info .learn-more {
  border-radius: 25px;
  font-size: 18px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

header .bloger-intro .get-info .learn-more:hover {
  background-color: #fff;
  color: #ff3d54;
}

main .section1 {
  background: url(/images/illustration-editor-desktop.svg) no-repeat calc(100% + 275px) 98%;
  min-height: 955px;
  margin-bottom: 55px;
  width: 100%;
}

main .section1 .ui.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 2fr 6fr;
      grid-template-rows: 2fr 6fr;
  grid-gap: 10px;
  font-family: ' overpass ', sans-serif;
}

main .section1 .ui.container .illustration-editor {
  display: none;
}

main .section1 .ui.container h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
  margin-top: 155px;
  font: 500 37px ' overpass ', sans-serif;
  letter-spacing: 1px;
}

main .section1 .ui.container .design-capabilities {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .section1 .ui.container .design-capabilities h3 {
  font-size: 27px;
  margin: 100px 0 25px 8px;
  letter-spacing: 0.6px;
  font-family: 'overpass', sans-serif;
}

main .section1 .ui.container .design-capabilities p {
  font-size: 17px;
  margin: 19px 0 0 9px;
  letter-spacing: 0.1px;
  font-family: 'overpass', sans-serif;
  line-height: 28px;
  width: 98%;
}

main .section1 .ui.container .design-capabilities .content-management h3 {
  margin-top: 75px;
}

main .section2 {
  background: url(/images/bg-pattern-circles.svg) no-repeat -215px 82%, -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background: url(/images/bg-pattern-circles.svg) no-repeat -215px 82%, linear-gradient(to right, #2c2d3f, #3f4164);
  height: 400px;
  width: 100%;
  border-radius: 0 100px;
  margin-bottom: 110px;
}

main .section2 .Infrastructure-State {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

main .section2 .Infrastructure-State .phones-img {
  min-width: 555px;
  margin: 50px 0 0 -33px;
}

main .section2 .Infrastructure-State .features {
  width: 46.6%;
  margin: 47px 24px 0px 0px;
  letter-spacing: 0.1px;
  color: #fff;
  font-family: ' overpass ', sans-serif;
}

main .section2 .Infrastructure-State .features h2 {
  font-size: 38px;
  margin-bottom: 23px;
}

main .section2 .Infrastructure-State .features p {
  margin-bottom: 37px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

main .section3 {
  height: 880px;
  width: 100%;
  margin-bottom: 36px;
}

main .section3 .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section3 .tools .laptop-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 67%;
  height: 100%;
  margin: -83px 0 0 -274px;
}

main .section3 .tools .content {
  font-family: ' overpass ', sans-serif;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section3 .tools .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  gap: 71px;
  margin-bottom: 75px;
}

main .section3 .tools .content > div h3 {
  font-family: 'ubuntu', sans-sreif;
  font-size: 29px;
  margin: 0 0 28px 0px;
  color: #1f3f5b;
  letter-spacing: -1.2px;
}

main .section3 .tools .content > div p {
  font-family: 'ubuntu', sans-sreif;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #4b5862;
}

footer {
  background-color: #25252d;
  border-radius: 0 100px 0 0;
  color: #fff;
  font-weight: 500;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 79%;
  gap: 185px;
  padding: 73px 9px 66px 0;
}

footer .wrapper .footer-logo {
  min-width: 100px;
  margin-left: 13px;
}

footer .wrapper .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 57.6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 178.7px;
}

footer .wrapper .footer-items .footer-options p {
  margin-bottom: 36px;
}

footer .wrapper .footer-items .footer-options span {
  display: block;
  margin-bottom: 14px;
  color: #c8c8cb;
  cursor: pointer;
}

footer .wrapper .footer-items .footer-options span:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .ui.container .options .header-info .nav-options .header-nav:hover .nav-item {
    text-decoration: none !important;
  }
  header {
    min-height: unset;
    text-align: center;
    padding: 50px 0;
    border-radius: 0 0 0 100px;
    background: url(/images/bg-pattern-intro.svg) 38.5% 38.5%/1700px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
    background: url(/images/bg-pattern-intro.svg) 38.5% 38.5%/1700px no-repeat, linear-gradient(to bottom, #ff8f70, #ff3d54);
  }
  header .ui.container nav {
    position: relative;
    margin: 0;
    padding: 0px 8px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .ui.container nav .header-logo {
    width: 25%;
  }
  header .ui.container nav .humburger {
    position: relative;
    display: block;
    width: 30px;
  }
  header .ui.container nav .humburger .top-line {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
  }
  header .ui.container nav .humburger .middle-line {
    opacity: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-transition: all 0transparent ease;
    transition: all 0transparent ease;
  }
  header .ui.container nav .humburger .bottom-line {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    border: 1px solid transparent;
  }
  header .ui.container nav .options {
    position: absolute;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: 800px;
    background-color: #fff;
    border-radius: 5px;
    top: calc(-100% - 26px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .ui.container nav .options .header-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 84%;
    min-width: unset;
    border-bottom: 1px solid #c8c8cb;
    padding-bottom: 22px;
  }
  header .ui.container nav .options .header-info .header-logo {
    min-width: 82px;
    margin-left: 8px;
  }
  header .ui.container nav .options .header-info .nav-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .ui.container nav .options .header-info .nav-options .ui.dropdown .menu {
    position: initial;
    width: 100%;
    margin-top: 23px;
    background-color: rgba(200, 200, 203, 0.3);
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border: unset;
    padding-left: 0;
  }
  header .ui.container nav .options .header-info .nav-options .ui.dropdown .menu > .item {
    text-align: center;
    padding: 12px 8px 12px 12px !important;
    letter-spacing: 0px;
    color: #4b5862;
    font-weight: 600;
    font-family: 'ubuntu', sans-sreif;
    font-size: 15px;
  }
  header .ui.container nav .options .header-info .nav-options .header-nav {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .ui.container nav .options .header-info .nav-options .header-nav.active.visible .nav-item {
    text-decoration: none;
    color: #4b5862;
  }
  header .ui.container nav .options .header-info .nav-options .header-nav .nav-item {
    font-family: 'ubuntu', sans-sreif;
    font-weight: 600;
    color: #1f3f5b;
    min-width: 100px;
    padding: 31px 0 0px 19.1px;
    letter-spacing: 1.2px;
  }
  header .ui.container nav .options .header-info .nav-options .header-nav .nav-item .dropdown.icon {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-decoration: none;
    height: auto;
  }
  header .ui.container nav .options .account-creation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 33px;
    gap: 7px;
  }
  header .ui.container nav .options .account-creation button {
    font-size: 16px;
    font-weight: 700;
  }
  header .ui.container nav .options .account-creation .login-button {
    border: 1px solid transparent;
    font-family: 'overpass', sans-serif;
    color: #1f3f5b;
  }
  header .ui.container nav .options .account-creation .signup-button {
    height: 48px;
    width: 137px;
    margin-left: 4px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(to right, #ff8f70, #ff3d54);
  }
  header .ui.container nav.open .humburger {
    display: block;
  }
  header .ui.container nav.open .humburger .top-line {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: -20px;
  }
  header .ui.container nav.open .humburger .middle-line {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .ui.container nav.open .humburger .bottom-line {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .ui.container nav.open .options {
    opacity: 100%;
    top: calc(100% + 26px);
    visibility: visible;
  }
  header .ui.container .bloger-intro {
    height: unset;
    margin-bottom: 105px;
  }
  header .ui.container .bloger-intro h1 {
    margin-top: 100px;
    width: 90%;
    font-size: 35px;
  }
  header .ui.container .bloger-intro p {
    font-size: 18px;
    width: 90%;
    margin-bottom: 45px;
  }
  header .ui.container .bloger-intro .get-info {
    width: 84%;
    gap: 17px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .ui.container .bloger-intro .get-info button {
    border-radius: 50px;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.7px;
  }
  main .section1 {
    margin-bottom: 268px;
    background: none;
    text-align: center;
  }
  main .section1 .ui.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  main .section1 .ui.container .illustration-editor {
    display: block;
    width: 100%;
    margin: 49px 0 53px;
  }
  main .section1 .ui.container .illustration-editor img {
    height: 118%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  main .section1 .ui.container h2 {
    margin-top: 102px;
    font: 500 26px ' overpass ', sans-serif;
    letter-spacing: 0.4px;
  }
  main .section1 .ui.container .design-capabilities {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 0;
  }
  main .section1 .ui.container .design-capabilities .intro,
  main .section1 .ui.container .design-capabilities .content-management {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .section1 .ui.container .design-capabilities .intro h3,
  main .section1 .ui.container .design-capabilities .content-management h3 {
    margin: 44px 0 2px 10px;
    font-size: 26px;
    letter-spacing: 0.9px;
    line-height: 32px;
    width: 90%;
  }
  main .section1 .ui.container .design-capabilities .intro p,
  main .section1 .ui.container .design-capabilities .content-management p {
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 28px;
    width: 94%;
    margin: 13px 0 0 9px;
    text-align: center;
  }
  main .section1 .ui.container .design-capabilities .content-management h3 {
    margin: 44px 0 2px 10px;
  }
  main .section1 .ui.container .design-capabilities .content-management p {
    margin-top: 20px;
    width: 90%;
  }
  main .section2 {
    background: url(/images/bg-pattern-circles.svg) no-repeat -110px -235px/600px, -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
    background: url(/images/bg-pattern-circles.svg) no-repeat -110px -235px/600px, linear-gradient(to right, #2c2d3f, #3f4164);
    height: unset;
    margin-bottom: 59px;
  }
  main .section2 .Infrastructure-State {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
  }
  main .section2 .Infrastructure-State .phones-img {
    min-width: unset;
    margin: 0;
    width: 109%;
    position: absolute;
    top: -185px;
    max-width: 382px;
  }
  main .section2 .Infrastructure-State .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 0 18px 0;
    letter-spacing: 0px;
    text-align: center;
  }
  main .section2 .Infrastructure-State .features h2 {
    margin: 221px 0 22px 0px;
    letter-spacing: -0.2px;
    line-height: 50px;
  }
  main .section2 .Infrastructure-State .features p {
    text-align: center;
    width: 90%;
  }
  main .section3 {
    margin-bottom: 19px;
    height: inherit;
  }
  main .section3 .tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  main .section3 .tools .laptop-image {
    display: block;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 122px;
  }
  main .section3 .tools .laptop-image img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 133%;
  }
  main .section3 .tools .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  main .section3 .tools .content div {
    width: 100%;
    gap: 0;
    margin-bottom: 40px;
  }
  main .section3 .tools .content div .sec3-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .section3 .tools .content div .sec3-component h3 {
    margin-left: 4.8px;
    margin-bottom: 24.5px;
  }
  main .section3 .tools .content div .sec3-component p {
    letter-spacing: 0.4px;
    margin-left: 9.5px;
    width: 86.7%;
    line-height: 28px;
  }
  main .section3 .tools .content div .summary {
    margin-bottom: 36px;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .wrapper .footer-logo {
    width: 27%;
    margin: 0 0 74px 10px;
  }
  footer .wrapper .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper .footer-items .footer-options {
    letter-spacing: 0.7px;
    margin: 0 0 35px 12px;
  }
  footer .wrapper .footer-items > div {
    width: 105px;
  }
}
/*# sourceMappingURL=styles.css.map */